@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
 
 
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --primary: #047200;
	--general: var(--primary);
	--light: #a8a8a8;
	--grey: #414040;
	--dark: #004916;
	--danger: #ff0000;
}
 
 
* {
  box-sizing: border-box;
}
 
 
body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.title{
  display: flex;
	color: var(--dark);
	font-size: 3.1rem;
	font-weight: 700;
}